@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@500;600&display=swap');

html {
    background-color: #3A86FF;
}

body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
}

:root {
    /* Dark */
    --dark-yellow: #FFBE0B;
    --dark-orange: #FB5607;
    --dark-red: #FF006E;
    --dark-purple: #8338EC;
    --dark-blue: #3A86FF;
    /* Medium */
    --medium-yellow: #FFCB3B;
    --medium-orange: #FC773A;
    --medium-red: #FF338B;
    --medium-purple: #9B5EF0;
    --medium-blue: #609DFF;
        /* Light */
    --light-yellow: #FFD664;
    --light-orange: #FD9362;
    --light-red: #FF5CA3;
    --light-purple: #AE7CF3;
    --light-blue: #81B1FF;
}

/*--------------------------------------------------------------
## Button
--------------------------------------------------------------*/

.simple-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    margin: 60px 0 0;
}

.simple-button {
    background-color: #609DFF;
    border-radius: 32px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 24px;
    transition: background-color 200ms;
}

.simple-button:hover {
    background-color: #81B1FF;
    cursor: pointer;
}